@page "/Orders/Details/{handler?}"
@model zShopWeb.Pages.Orders.OrdersModel

@{
	ViewData["Title"] = "Order Details";
}

<div class="block center cart-details-container" style="z-index: 20">
	<!-- EDIT ORDER CART DETAILS -->
	<div id="cartDetails" class="cart-details-window" @*style="display: none; width: 100%; margin-top: -150%"*@>
		<div class="login-header">Viewing Order Details</div>
		<form method="post">
			<div asp-validation-summary="ModelOnly" class="text-danger"></div>
			@{
				for(int i = 0; i < Model.OrderProducts.Count; i++)
				{
					<input type="hidden" asp-for="@Model.OrderProducts[i].ProductID" />
					<div class="block">
						<div class="inline customer-edit-group">
							<input type="number" class="opn" asp-for="@Model.OrderProducts[i].Amount" value="@Model.OrderProducts[i].Amount" style="width: 48px; height: 28px; margin-left: 3%;" />
							<span asp-validation-for="@Model.OrderProducts[i].Amount" class="text-danger"></span>
						</div>

						<img src="@Model.OrderProducts[i].Image" style="width: 28px; height: 28px; margin-bottom: 2%;" />
						<label class="customer-values" style="vertical-align: middle; margin-bottom: 2%">@Model.OrderProducts[i].Name</label>
					</div>
				}
			}

			<div class="block customer-edit-group" style="margin-bottom: 1%">
				<input type="submit" value="Continue" class="block center btn-blue btn-full" />
			</div>
		</form>
	</div>
</div>

@section Scripts {
	@{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
	<script>
		displayingCartOrder = '@(Model.DisplayOrder)' === '@true';
	</script>
}