<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<title>@ViewData["Title"] - zShopWeb</title>
	<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
	<link rel="stylesheet" href="~/css/site.css" />
	@RenderSection("Styles", false)
</head>
<body>
	<header>
		<nav class="top-container">
			<div class="top-logo">
				<!-- LOGO IMAGE -->
			</div>
			<div class="top-menu">
				<div class="menu-column">
					<button class="menu-button">PRODUCTS</button>
					<div class="menu-dropdown-content">
						<a asp-page="/Products/Index">All Products</a>
						<a asp-page="/Products/Index">AP 2</a>
						<a asp-page="/Products/Index">AP 3</a>
					</div>
				</div>
				<div class="menu-column">
					<button class="menu-button">CAMPAIGNS</button>
					<div class="menu-dropdown-content">
						<a asp-page="/Index" asp-page-handler="">Current Offers</a>
						<a asp-page="/Index" asp-page-handler="">CO 2</a>
						<a asp-page="/Index" asp-page-handler="">CO 3</a>
					</div>
				</div>
				<div class="menu-column">
					<button class="menu-button">GAMES</button>
					<div class="menu-dropdown-content">
						<a asp-page="/Index" asp-page-handler="">All Games</a>
						<a asp-page="/Index" asp-page-handler="">AG 2</a>
						<a asp-page="/Index" asp-page-handler="">AG 3</a>
					</div>
				</div>
			</div>
			@{

				int productCount = 0;
				string productTotals = "";

				if (TempData.ContainsKey("NewOrder"))
				{
					if (TempData.Get<Models.NewOrder>("NewOrder").OrderProducts != null)
					{
						Models.NewOrder newOrder = TempData.Get<Models.NewOrder>("NewOrder");

						productCount = newOrder.OrderProducts.Count();
						productTotals = newOrder.OrderTotalPrice.ToString("C2");

						TempData.Set("NewOrder", newOrder);
					}
				}
			}
			<div class="top-cart">
				<div class="cart-icon"></div>
				<div class="cart-info">
					<div class="cart-products">
						<label style="display: inline-block; width: 40%;">Products:</label>
						<label id="cartItems" style="display: inline-block; width: 38%;">@productCount</label>
					</div>
					<div class="cart-price">
						<label style="display: inline-block; width: 40%;">Price: </label>
						<label style="display: inline-block; width: 38%;">@productTotals</label>
					</div>
					<a asp-page="/Orders/Details" class="cart-accept" type="button">✓</a>
				</div>
			</div>

			@if (User.Identity.IsAuthenticated)
			{
				<div class="top-user-menu">
					<div class="user-column">
						<div style="display:block;">
							<img src="~/images/icon_account.png" style="position: absolute; top: 1px; left: 4px; display:inline-block; width: 32px; height: 32px;" />
							<button class="user-button">@User.Identity.Name</button>
						</div>
						<div class="user-dropdown-content">
							@if (User.IsInRole("Admin"))
							{
								<a asp-page="/Customers/Index">Admin Customers</a>
								<a asp-page="/Customers/Index">Admin Orders</a>
								<a asp-page="/Customers/Index">Admin Products</a>
							}
							<a asp-page="/Customers/Details">Account</a>
							<a asp-page="/Orders/History" asp-page-handler="DisplayHistory">History</a>
							<a asp-page="/Index" asp-page-handler="Logout">Logout</a>
						</div>
					</div>
				</div>
			}
			else
			{
				<div class="top-user-menu">
					<div class="user-column">
						<div style="display:block;">
							<form>
								<button asp-page-handler="/Index" id="doLogin" name="doLogin" value="true" class="user-button">Login</button>
							</form>
						</div>
					</div>
				</div>
			}
		</nav>
	</header>
	<div class="page-container">
		<div class="left-container"></div>
		<main role="main" class="main-container">
			@RenderBody()
		</main>
		<div class="right-container"></div>
	</div>

	<footer class="footer">
		<div class="container">
			&copy; 2021 &reg; Z-Soft Shop ----> <a asp-page="/Index">About Us!</a>
		</div>
	</footer>

	<script src="~/lib/jquery/dist/jquery.min.js"></script>
	<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
	<script src="~/js/site.js" asp-append-version="true"></script>

	@await RenderSectionAsync("Scripts", required: false)
</body>
</html>